#############################
- name: "Create Rancher workload"
  hosts: k3s_cluster
  vars_files:
    - "../vars/rancher.yml"
    - "../../global_vars.yml"
  become: true
  
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  
  tasks:
  # Create namespace cattle-system
  - name: Create a k8s namespace
    kubernetes.core.k8s:
      name: cattle-system
      api_version: v1
      kind: Namespace
      state: present

  # Add repo forthe rancher and jetstack
  - name: Add stable chart repo for rancher
    kubernetes.core.helm_repository:
      name: rancher-stable
      repo_url: https://releases.rancher.com/server-charts/stable
  
  - name: Add stable chart repo for Jetstack
    kubernetes.core.helm_repository:
      name: jetstack
      repo_url: "https://charts.jetstack.io"
  
  # Deploy jetstack
  - name: Deploy stable version of cert-manager chart
    kubernetes.core.helm:
      name: cert-manager
      chart_ref: jetstack/cert-manager
      release_namespace: cert-manager
      create_namespace: true
      values:
        crds:
          enabled: true

  # Deploy rancher
  - name: Deploy stable version of Rancher chart
    kubernetes.core.helm:
      name: rancher
      chart_ref: rancher-stable/rancher
      release_namespace: cattle-system
      values:
        replicas: 1
        hostname: "{{ rancher_hostname }}"
        bootstrapPassword: "oscar"

  # # Download Rancher CLI binary
  # - name: "Download Rancher Command Line Interface"
  #   ansible.builtin.unarchive:
  #     src: "https://github.com/rancher/cli/releases/download/v2.13.2/rancher-linux-amd64-v2.13.2.tar.gz"
  #     dest: /tmp/
  #     remote_src: yes

  # # Add the binary to the path
  # - name: "Moove the binary to bin"
  #   ansible.builtin.copy:
  #     src: "/tmp/rancher-v2.13.2/rancher"
  #     dest: /usr/local/bin/rancher
  #     mode: 0755
  #     remote_src: yes
  
  - name: Wait for Rancher Deployment to be available
    kubernetes.core.k8s_info:
      kind: Deployment
      name: rancher
      namespace: cattle-system
    register: rancher_deploy
    until: rancher_deploy.resources[0].status.readyReplicas is defined and rancher_deploy.resources[0].status.readyReplicas >= 1
    retries: 720
    delay: 5

  - name: Wait for Traefik Deployment to be available
    kubernetes.core.k8s_info:
      kind: Deployment
      name: traefik
      namespace: kube-system
    register: traefik_deploy
    until: traefik_deploy.resources[0].status.readyReplicas is defined and traefik_deploy.resources[0].status.readyReplicas >= 1
    retries: 720
    delay: 5

  - name: Wait for Bootstraping on the loging page
    ansible.builtin.pause:
      minutes: 2