  - name: "Get CheckSum token"
    ansible.builtin.stat:
      checksum_algorithm: sha256
      get_checksum: true
      path: /tmp/ca.crt
    register: ca-checksum

  - debug: msg="{{ ca-checksum }}"