all:
  vars:
    ansible_ssh_private_key_file: "../../SSH/sisyphe_key"
    ansible_user: sisyphe # Or your specific user
    ansible_become: yes

  children:
    dns:
      hosts:
        10.0.1.2:
    # K3s Cluster (Management/Rancher)
    k3s_cluster:
      hosts:
        10.0.1.3:

    # RKE2 Cluster (Workloads)
    gitlab_cluster:
      children:
        worker:
          hosts:
            10.0.1.5:
              ansible_ssh_private_key_file: "../../SSH/openstack.pem"
              ansible_user: debian # Or your specific user
        master:
          hosts:
            10.0.1.4:
    