gitlab_external_ip: 10.0.1.4
gitlab_values_yaml: |
  global:
    common:
      certificates:
        customCAs:
          - secret: gitlab-crt
    hosts:
      domain: nailloux.gitlab.com  # Your domain
      gitlab:
        name: nailloux.gitlab.com
      externalIP: {{ gitlab_external_ip }}
      edition: ce
    ingress:
      configureCertmanager: false
      tls:
        enabled: true
        secretName: gitlab-crt
  # If you want to use your existing external PostgreSQL/Redis, configure here.
  # Otherwise, it will install them inside the cluster.

  certmanager-issuer:
    email: root@nailloux.lan

  gitlab:
  #   gitlab-shell:
  #     service:
  #       type: LoadBalancer
  #       loadBalancerIP: 10.0.1.8
    webservice:
      ingress:
        tls:
          secretName:
            gitlab-crt
      # This solves your previous "unmapped file" error
      deployment:
        extraVolumes: |
          - name: dshm
            emptyDir:
              medium: Memory
        extraVolumeMounts: |
          - name: dshm
            mount_path: /dev/shm
      resources:
        requests:
          memory: 4Gi
        limits:
          memory: 8Gi