  - name: Get GitLab initial root password
    kubernetes.core.k8s_info:
      kind: Secret
      name: "gitlab-gitlab-initial-root-password" # Adjust name if your release isn't named 'gitlab'
      namespace: gitlab
    register: gitlab_password_secret

  - name: Decode and store password
    ansible.builtin.set_fact:
      root_password: "{{ gitlab_password_secret.resources[0].data.password | b64decode }}"

  - name: Display the password
    ansible.builtin.debug:
      msg: "The initial root password is: {{ root_password }}"
  
  - name: Get GitLab Runner Registration Token
    kubernetes.core.k8s_info:
      kind: Secret
      name: gitlab-gitlab-runner-secret
      namespace: gitlab
    register: runner_token_secret

  - name: Decode Token
    ansible.builtin.set_fact:
      # Use ['key-name'] instead of .key-name
      gitlab_runner_token: "{{ runner_token_secret.resources[0].data['runner-registration-token'] | b64decode }}"