gitlab_external_ip: 10.0.1.4
gitlab_values_yaml: |
  global:
    common:
      certificates:
        customCAs:
          - secret: gitlab-ingress.tls
    hosts:
      domain: nailloux.gitlab.com  # Your domain
      gitlab:
        name: nailloux.gitlab.com
      externalIP: {{ gitlab_external_ip }}
      edition: ce
    ingress:
      configureCertmanager: false
      tls:
        enabled: true
        secretName: gitlab-crt
  # If you want to use your existing external PostgreSQL/Redis, configure here.
  # Otherwise, it will install them inside the cluster.

  certmanager-issuer:
    email: root@nailloux.lan

  gitlab:
  #   gitlab-shell:
  #     service:
  #       type: LoadBalancer
  #       loadBalancerIP: 10.0.1.8
    webservice:
      ingress:
        tls:
          secretName: gitlab-ingress.tls
      # This solves your previous "unmapped file" error
      deployment:
        extraVolumes: |
          - name: dshm
            emptyDir:
              medium: Memory
        extraVolumeMounts: |
          - name: dshm
            mount_path: /dev/shm
      resources:
        requests:
          memory: 4Gi
        limits:
          memory: 8Gi

gitlab_ingress_tls: |
  apiVersion: v1
  data:
    tls.crt: >-
      LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURlVENDQW1HZ0F3SUJBZ0lVQzlXMnNKTkhwRXovT3A5VlpQdGhzcm1tb1dRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1BERWNNQm9HQTFVRUF3d1RibUZwYkd4dmRYZ3VaMmwwYkdGaUxtTnZiVEVjTUJvR0ExVUVDZ3dUYm1GcApiR3h2ZFhndVoybDBiR0ZpTG1OdmJUQWVGdzB5TmpBeE1UUXhNalU0TVROYUZ3MHlOekF4TVRReE1qVTRNVE5hCk1Ed3hIREFhQmdOVkJBTU1FMjVoYVd4c2IzVjRMbWRwZEd4aFlpNWpiMjB4SERBYUJnTlZCQW9NRTI1aGFXeHMKYjNWNExtZHBkR3hoWWk1amIyMHdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFDNQpUTWpLSWQ1UzloQ2RXbStlNFExLzMxOGpNai9mWTNPdlZ2V3JnRkpwSElkVGZ4dmJjZUQwVjN4Z2VXZTdpYk5JCnNKYk9kOWFyNTd4UFhGOUxNb1FIbE1RUE9TdXNnZmdmY2h2SkM2d2dOUERSeUNyM04xTCtxOGpYVENWMlhma0YKRXlyRkF2R09yMEZhMStKZk9RUTcwR0ExOG04U1phUVErTTh3WE4rYWdmam1PV3hzTnhuQkJNTUxiRnk3VnJZMgppZFFQQ0FGVnFJaE43UkF5eDhpTFRtYlc0ZU5xWml4Y1ZOalUwM2ZlRHhEQjVnaWNZRkJ0SUhxTlpUV0xSVm9QCk8wSWp3c29iZGRxQWFhVkpQV0NsM1ZSdTNqL3RqYWtRMFFCeVJtVnczOG5ObWpxQ3dYUDk0dy9OWFd3RjBoSjIKRGdaRjhSS2Q3bTN2eDd1S2w2K3ZBZ01CQUFHamN6QnhNQjBHQTFVZERnUVdCQlRHQllKeTJ1VmJwcGdVeklqYwpjUnZwK1ZtRTZqQWZCZ05WSFNNRUdEQVdnQlRHQllKeTJ1VmJwcGdVeklqY2NSdnArVm1FNmpBUEJnTlZIUk1CCkFmOEVCVEFEQVFIL01CNEdBMVVkRVFRWE1CV0NFMjVoYVd4c2IzVjRMbWRwZEd4aFlpNWpiMjB3RFFZSktvWkkKaHZjTkFRRUxCUUFEZ2dFQkFBRUJRb29jWlg5QXdCNkZLYngxMDlXWVBnTTVteWxwM2VuclVaYmFQQ0tnY0JFbQpuRlpFQ1ZnYm02d2w0UGZ5UElMVjJsYUdUZW5uOEpjZ2dxYTVUQTRiZWJ4UEdBK005T3M2N01uS0daakowSmgzCmk1dEUxeFZkK1lkSVNISGZYOXFVU1IyQ2Z4NmhHYWR2WVV4RGQzcU40ZEQ2N2NCM2JKOTVpV3grVHpBWjQ0ZTIKS29HNVNQdFdkT2tqbHJwRTlucE5jK282cWpFV1N2Z015U3hSUjFSOXZnVmNuU0crcVk1UHRQVFIwYjg4QmRjbApEQXk0bWR4Sjg5OG1KWmpEcVNXK2xnNmhUR3YyTEhEdk5vS2VXRWVtQ2N3YXllK2NFbTQvQVhqT2ZJVzE4S2xvCnVOb1JnVFBtNHF2OTEyODJjdEJjK1QzWTMvTE44QWFZbEN1MFgrQT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    tls.key: >-
      LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRQzVUTWpLSWQ1UzloQ2QKV20rZTRRMS8zMThqTWovZlkzT3ZWdldyZ0ZKcEhJZFRmeHZiY2VEMFYzeGdlV2U3aWJOSXNKYk9kOWFyNTd4UApYRjlMTW9RSGxNUVBPU3VzZ2ZnZmNodkpDNndnTlBEUnlDcjNOMUwrcThqWFRDVjJYZmtGRXlyRkF2R09yMEZhCjErSmZPUVE3MEdBMThtOFNaYVFRK004d1hOK2FnZmptT1d4c054bkJCTU1MYkZ5N1ZyWTJpZFFQQ0FGVnFJaE4KN1JBeXg4aUxUbWJXNGVOcVppeGNWTmpVMDNmZUR4REI1Z2ljWUZCdElIcU5aVFdMUlZvUE8wSWp3c29iZGRxQQphYVZKUFdDbDNWUnUzai90amFrUTBRQnlSbVZ3MzhuTm1qcUN3WFA5NHcvTlhXd0YwaEoyRGdaRjhSS2Q3bTN2Cng3dUtsNit2QWdNQkFBRUNnZ0VBSEFobkdBS25yOFZVeU02MXRFT05MSnM1RHJTN2FsV1JXdEFTWlMrMG5WSkQKa1hqWldMUThaQkFZTU9yWHEvZUR1QURVZW5LR3pOcnlFaVRYV3lPajljR21mT2NaUkZwNmxISDBOM3R4NllMRApnVTZCc1lUSHp0OWppRmxzdkNEYlcza3dMejNvR0JOTGFvTGVnYWxqMytpcnBYMnRHcllRYkJZNEYxNUs0Rm9tCnNXTkY4alB6a1h2cHM0MXdvaU1HMkQyR0xXbjBMaldZT0NmSS9tTis1cDVHU0R0V1lRbHEvUkxjRGxaNDRDcjQKN0xrMC8vOXZ2QjNldnRSdXdxZTdJcU1sSXIwRmpQeU5MZnh1NGs1bkt1OFpHMU0yc1JkNkpYV3dqODFTc3ZNcwpjRE4va05Qd0RwcXdhQThNTVhBdmU0NUVjd0gxZDBHTWE3ZU4xNWpGZ1FLQmdRRDl5MVhvSTQ0OXhuZG5nQUZTClZjcnhqWmpVUTdxdGVSUjlVZHJWb3hvcCtRdkNuaWJwQ0NzMVN0WVRJZ2czZ1ZjZXFiMlVETnpWbUtpczNzOTMKNzNOYStOWjZaeFJvQStFTmtXL09jQVRCV3dqQnhCOFlUZWpWMjZySTBhaURJVkJ6YWJncktYMGFGVjROd2N0aQpHV0Nqem4zcnEyUWV0OVBDdnkyb053NWdIUUtCZ1FDNjZRNXVHK3ladlFLSXVnMzZ0WFhIUXNsaFNPT0d2WjN0Ci9IdjFqREE4ck1YMUtmUXB0aG1heGhZblRZTlJyZ0UvU2EyVEsydzJ4M0tRd3lpODMvVEJpaHo0bS8wVGVrT1EKd2h3MW45M25OZC9sL0tQNVlVOG4xdllBWnZpMC8yWlE3ckhlTm5sWW1tL1RrUVlucC9VeUNQc2FidDZJWXRNYQpaQ1BRQWtGZE93S0JnSHdzUFdicjVvOWhDRkRTZDFNU2VNNEFxcExJWkpDMW1nbkt2OWdoQ2c4Wk0rRFB3bGZuCjBFUXR6bG5rSDhNUWZGQ2JXZzhTMEFXTndKRjhIbVFlK3dDNm1TMmdPNEs4eXlMNVVvdmRrT1lOcFZZd244b2oKYkZVZU9nd3hVRktBUFQyS3J6b20vWGVDbHRjQ1I0RkN5MTY2REMvL1ZtZ1ZKdjIwemlEc2R4TWRBb0dBWXNsMgoxUDl4UjdnOE5LT1JhK2FvZjA1dlBUblc5NG9VaElvandoMzhDTFdRVXdsL2dPUThHQytGMmZQLzZoVzdsd1dMCjlmTEhXUlNGR3Juck9CaHVOalNYSjFiYXBZYkRXeWtjMjhMSTk4RGp1NXlSMWVaMmZhb0JqeWpkWGx4MmFXUWYKSWtGTVZXWWFvSWxQNVhuQ0FGWDYwWGV6cWdZQmFUdHdLaXBtL2EwQ2dZQXlKWUhWY0lWeWRzTGoxRnRSSVFlRQpJZUV6N21zYXFBUnhtS28yL2pXZ1dBRS9hY0RYWXQyUk1FMWw2ZnpRWThmd2NmcXByVGtJM3l3SS9LSlE3QlZYCk1rdnpMMk10YkcxbDY2cDhkR2xrVGtneWRUOXc4czJyKzBvRGlSTnpaN1ZKaUxpRDdzSE5vbjJSZmE5MlJaVXgKYnBBREFDei8yNUtrVGt1V25VYzE3QT09Ci0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K
  kind: Secret
  metadata:
    name: gitlab-ingress.tls
    namespace: gitlab
  type: kubernetes.io/tls
gitlab_crt: |
    apiVersion: v1
    data:
      nailloux.gitlab.com.crt: >-
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURlVENDQW1HZ0F3SUJBZ0lVQzlXMnNKTkhwRXovT3A5VlpQdGhzcm1tb1dRd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1BERWNNQm9HQTFVRUF3d1RibUZwYkd4dmRYZ3VaMmwwYkdGaUxtTnZiVEVjTUJvR0ExVUVDZ3dUYm1GcApiR3h2ZFhndVoybDBiR0ZpTG1OdmJUQWVGdzB5TmpBeE1UUXhNalU0TVROYUZ3MHlOekF4TVRReE1qVTRNVE5hCk1Ed3hIREFhQmdOVkJBTU1FMjVoYVd4c2IzVjRMbWRwZEd4aFlpNWpiMjB4SERBYUJnTlZCQW9NRTI1aGFXeHMKYjNWNExtZHBkR3hoWWk1amIyMHdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCRHdBd2dnRUtBb0lCQVFDNQpUTWpLSWQ1UzloQ2RXbStlNFExLzMxOGpNai9mWTNPdlZ2V3JnRkpwSElkVGZ4dmJjZUQwVjN4Z2VXZTdpYk5JCnNKYk9kOWFyNTd4UFhGOUxNb1FIbE1RUE9TdXNnZmdmY2h2SkM2d2dOUERSeUNyM04xTCtxOGpYVENWMlhma0YKRXlyRkF2R09yMEZhMStKZk9RUTcwR0ExOG04U1phUVErTTh3WE4rYWdmam1PV3hzTnhuQkJNTUxiRnk3VnJZMgppZFFQQ0FGVnFJaE43UkF5eDhpTFRtYlc0ZU5xWml4Y1ZOalUwM2ZlRHhEQjVnaWNZRkJ0SUhxTlpUV0xSVm9QCk8wSWp3c29iZGRxQWFhVkpQV0NsM1ZSdTNqL3RqYWtRMFFCeVJtVnczOG5ObWpxQ3dYUDk0dy9OWFd3RjBoSjIKRGdaRjhSS2Q3bTN2eDd1S2w2K3ZBZ01CQUFHamN6QnhNQjBHQTFVZERnUVdCQlRHQllKeTJ1VmJwcGdVeklqYwpjUnZwK1ZtRTZqQWZCZ05WSFNNRUdEQVdnQlRHQllKeTJ1VmJwcGdVeklqY2NSdnArVm1FNmpBUEJnTlZIUk1CCkFmOEVCVEFEQVFIL01CNEdBMVVkRVFRWE1CV0NFMjVoYVd4c2IzVjRMbWRwZEd4aFlpNWpiMjB3RFFZSktvWkkKaHZjTkFRRUxCUUFEZ2dFQkFBRUJRb29jWlg5QXdCNkZLYngxMDlXWVBnTTVteWxwM2VuclVaYmFQQ0tnY0JFbQpuRlpFQ1ZnYm02d2w0UGZ5UElMVjJsYUdUZW5uOEpjZ2dxYTVUQTRiZWJ4UEdBK005T3M2N01uS0daakowSmgzCmk1dEUxeFZkK1lkSVNISGZYOXFVU1IyQ2Z4NmhHYWR2WVV4RGQzcU40ZEQ2N2NCM2JKOTVpV3grVHpBWjQ0ZTIKS29HNVNQdFdkT2tqbHJwRTlucE5jK282cWpFV1N2Z015U3hSUjFSOXZnVmNuU0crcVk1UHRQVFIwYjg4QmRjbApEQXk0bWR4Sjg5OG1KWmpEcVNXK2xnNmhUR3YyTEhEdk5vS2VXRWVtQ2N3YXllK2NFbTQvQVhqT2ZJVzE4S2xvCnVOb1JnVFBtNHF2OTEyODJjdEJjK1QzWTMvTE44QWFZbEN1MFgrQT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    kind: Secret
    metadata:
      name: gitlab-crt
      namespace: gitlab
    type: Opaque
