##############
- name: "Setup nodes"
  hosts: rke2_cluster
  vars_files:
    - "../../global_vars.yml"
    - "../vars/setup.yml"

  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml

  tasks:

  - name: "Install requirements"
    ansible.builtin.apt:
      name: "python3-kubernetes"
      state: present

  - name: Install iptables package
    ansible.builtin.apt:
      name: iptables
      state: present

  - name: Install iptables package
    ansible.builtin.service:
      name: systemd-networkd
      state: restarted

  - name: Install iptables package
    ansible.builtin.service:
      name: systemd-resolved
      state: restarted