all:
  vars:
    ansible_ssh_private_key_file: "../../SSH/sisyphe_key"
    ansible_user: sisyphe
    ansible_become: yes

  children:
    dns:
      hosts:
        10.0.1.2:
    # K3s Cluster (Management/Rancher)
    k3s_cluster:
      hosts:
        10.0.1.3:

    # RKE2 Cluster (Workloads)
    gitlab_cluster:
      children:
        worker:
          hosts:
            10.0.1.5:

        master:
          hosts:
            10.0.1.4:
    
    nailloux_cluster:
      children:
        openstack:
          hosts:
            10.192.14.228:
              ansible_ssh_private_key_file: "../../SSH/openstack.pem"
              ansible_user: debian
              ansible_ssh_port: 1222